$font-family-base: 'Open Sans', 'sans-serif';
$font-family-rubik: 'Rubik', 'sans-serif';
$font-family-sans:  'Open Sans', 'sans-serif';
$background-color:#004aad;
$card-color: #1b5bb2;
$items-background-color: #8c52ff;

@function randomColorGenerator(){
  $randomColorArray : ['#2766cc','red','green','yellow'];
  $length:length($randomColorArray);
  $randomColor : $randomColorArray[floor(random() * $length)];
  @return $randomColor;
}

@mixin fontStyle($size,$weight,$color){
  font-size: $size;
  font-weight: $weight;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  font-family: $font-family-base;
  color: $color;
}

@mixin button ($width,$height,$bcColor,$textColor,$textSize){
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height;
    width: $width;
    margin: 1rem auto;
    border-radius: 4px;
    span{
      @include fontStyle($textSize,500,$textColor);
      letter-spacing: 1px;
    }
}

@mixin header ($size,$color,$shColor){
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  span{
    @include fontStyle($size,500,$color);
    text-shadow: 2px 2px $shColor;
  }
}

.pos-blue-box-cont {
  padding: 40px 80px;
  background: #1b5bb2;
  border-radius: 24px;
  position: relative;
  margin-right: 60px;
}

.button-container {
  //padding: 0;
  border: none;
  outline: none;
  margin-top: 24px;
  text-align: center;
  background: transparent;
  .button {
    background: black;
    padding: 12px 32px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: $font-family-sans;
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  .button {
    padding: 1rem 1.2rem;
    background-color: #fa904d;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: white;
    flex: 1;
    max-width: 50%;
    &.ok {
      margin-left: 1.3rem;
      background-color: #358137;
    }
  }
}


.page-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  text-align: center;
  span {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 0.5rem;
    font-weight: 400;
    font-family: 'Rubik', 'sans-serif';
    background: #cce2ff;
    padding: 1rem 2rem;
  }
}

.action-tag {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 2px;
  cursor: pointer;
}

.edit-action {
  border: 2px solid darkolivegreen;
  color: darkolivegreen;
}

.info-action {
  border: 2px solid #5369fc;
  color: #5369fc;
  background: #cce2fe;
  font-weight: bold;
}

.delete-action {
  border: 2px solid red;
  color: red;
  &.disabled {
    color: #444;
    border: 2px solid;
  }
}

.button-orange {
  padding: 24px 56px;
  background: #ff914d;
  border: 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 100;
  font-family: 'Rubik', 'sans-serif';
  color: white;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  appearance: none;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
  &:focus {
    outline: none;
  }
  &:checked {
    border: 2px solid #88ff88;
    background: #1d6907;
    border-radius: 0;
    &::after {
      content: '✔';
      font-size: 30px;
      position: absolute;
      border: 0;
      left: 4px;
      top: 0;
      color: #00ff3d;
    }
  }
}




