.attendance-report-container {
  width: 100%;
  .filters {
    justify-content: space-between;
  }
  .date-range {
    gap: 1rem;
  }
  input.input {
    width: 12rem;
    margin: 0;
    height: 40px;
    border: none;
    padding: 0 0 0 12px;
  }
  select {
    height: 40px;
    background: white;
    border: none;
    font-size: 1.1rem;
  }
  .button {
    flex: 1;
    height: 40px;
    padding: 0 3rem;
    line-height: 40px;
    color: white;
    background: #526aff;
    font-size: 1.2rem;
    box-shadow: 5px 11px 9px #c5c5c5;
    text-align: center;
    &.search {
      background: #FF851A;
    }
  }
}
