@import "../base/styling";

.clock-selection {
  width: 100%;
  max-width: 72rem;
  align-self: baseline;
  padding-top: 7rem;
}

.selection-container {
  .title {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    margin-bottom: 3rem;
  }

  .option-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    .option-card {
      padding: 32px;
      min-width: 280px;
      background-color: #cce2ff;
      cursor: pointer;
      h6 {
        font-size: 2rem;
        &.option-num {
          margin: 0;
          color: #1b5bb2;
        }
      }
      p {
        font-size: 1.2rem;
      }
      .button {
        background: #ff914d;
        padding: 1rem 3rem;
        font-size: 1.1rem;
        border-radius: 6px;
        width: fit-content;
        span {
          margin-right: 1rem;
        }
      }
    }

  }
}
